

##### 1. Change following string 'ghatkopar' to 'GHATKOPAR' and 'dnyaneshwar jagtap' to 'Dnyaneshwar Jagtap'

In [1]:
def transform_strings(a):
    if a == 'ghatkopar':
        return 'GHATKOPAR'
    elif a == 'dnyaneshwar jagtap':
        return 'Dnyaneshwar Jagtap'
    return a

print(transform_strings('ghatkopar'))
print(transform_strings('dnyaneshwar jagtap'))

GHATKOPAR
Dnyaneshwar Jagtap

#### 2. write a program to reverse the string "abcde1234" without using any slicers (eg. a[::]) or inbuilt function

In [2]:
def reverse_string(s):
    s = list(s)
    left = 0
    right = len(s) - 1
    while left < right:
        s[left], s[right] = s[right], s[left]
        left += 1
        right -= 1
    return ''.join(s)

original_string = "abcde1234"
reversed_string = reverse_string(original_string)
print(reversed_string)

4321edcba

#### 3. Sorting

Find the second largest number in an given array , without using any inbuilt function like sort() etc\
Given array as follows:\
array1 = [10,5,7,99,67]\
array2 = [11,102,38,90382,39,42,942,983]\
array3 = [726,48,12,46,89,43,2346,789]

In [3]:
def second_largest(arr):
    if len(arr) < 2:
        return None
    first, second = float('-inf'), float('-inf')
    for number in arr:
        if number > first:
            second = first
            first = number
        elif number > second and number != first:
            second = number
    return second

array1 = [10, 5, 7, 99, 67]
array2 = [11, 102, 38, 90382, 39, 42, 942, 983]
array3 = [726, 48, 12, 46, 89, 43, 2346, 789]

print(f"Second largest in array1: {second_largest(array1)}")
print(f"Second largest in array2: {second_largest(array2)}")
print(f"Second largest in array3: {second_largest(array3)}")

Second largest in array1: 67
Second largest in array2: 983
Second largest in array3: 789

#### 4. Write a program to print the following pattern

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1\
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11\
&nbsp;&nbsp;&nbsp;&nbsp;111\
&nbsp;&nbsp;1111\
11111

In [4]:
def print_pattern(n):
    for i in range(1, n + 1):
        print(' ' * (n - i), end='')
        print('1' * i)

n = 5
print_pattern(n)

    1
   11
  111
 1111
11111

#### 5. Given a string s1, write a program to return the sum and average of the digits that appear in the string and count all other characters.
s1 = "PYnative29@#8496"

In [5]:
def sum_and_average(s1):
    digit_sum = 0
    digit_count = 0
    non_digit_count = 0

    for char in s1:
        if char.isdigit():
            digit_sum += int(char)
            digit_count += 1
        else:
            non_digit_count += 1

    if digit_count > 0:
        digit_avg = digit_sum / digit_count
    else:
        digit_avg = 0

    return digit_sum, digit_avg, non_digit_count

s1 = "PYnative29@#8496"
digit_sum, digit_avg, non_digit_count = sum_and_average(s1)
print(f"Sum of digits: {digit_sum}")
print(f"Average of digits: {digit_avg}")
print(f"Count of other characters: {non_digit_count}")

Sum of digits: 38
Average of digits: 6.333333333333333
Count of other characters: 10

#### 6. Calculate the transpose of a matrix.

matrix = [[1, 2, 3],\
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         [4, 5, 6],\
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          [7, 8, 9]]

In [6]:
def transpose_matrix(matrix):
    n = len(matrix)
    for i in range(n):
        for j in range(i + 1, n):
            matrix[i][j], matrix[j][i] = matrix[j][i], matrix[i][j]

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transpose_matrix(matrix)
for row in matrix:
    print(row)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### 7. Number of Good Pair
**Given an array of integers nums, return the number of good pairs.**<BR>
**A pair (i, j) is called good if nums[i] == nums[j] and i < j.**

*Example 1:*
*Input: nums = [1,2,3,1,1,3]<br>*
*Output: 4<br>*
*Explanation: There are 4 good pairs (0,3), (0,4), (3,4), (2,5) 0-indexed.<br>*

*Example 2:<br>*
*Input: nums = [1,1,1,1]<br>*
*Output: 6<br>*
*Explanation: Each pair in the array are good.<br>*

*Example 3:<br>*
*Input: nums = [1,2,3]<br>*
*Output: 0<br>*

Constraints:<br>
1 <= nums.length <= 100<br>
1 <= nums[i] <= 100<br>

run your code for given below example:<br>

[1,2,3,1,13]<br>
[1,2,2,1]<br>
[1,1,2,3,1,2,1,3,2,1]

In [7]:
def num_good_pairs(nums):
    count = {}
    good_pairs = 0

    for num in nums:
        if num in count:
            good_pairs += count[num]
            count[num] += 1
        else:
            count[num] = 1

    return good_pairs

nums1 = [1, 2, 3, 1, 13]
nums2 = [1, 2, 2, 1]
nums3 = [1, 1, 2, 3, 1, 2, 1, 3, 2, 1]

print(num_good_pairs(nums1))
print(num_good_pairs(nums2))
print(num_good_pairs(nums3))

1
2
14

#### 8. Roman numeral

**Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.**<br>
| Symbol   |   Value |
|----------|---------|
| I        |       1 |
| V        |       5 |
| X        |      10 |
| L        |      50 |
| C        |     100 |
| D        |     500 |
| M        |    1000 |

For example, 2 is written as II in Roman numeral, just two ones added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.<br>
Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9.<br>
X can be placed before L (50) and C (100) to make 40 and 90.<br>
C can be placed before D (500) and M (1000) to make 400 and 900.<br>
Given a roman numeral, convert it to an integer.<br>

Example 1:<br>
Input: s = "III"<br>
Output: 3<br>
Explanation: III = 3.<br>

Example 2:<br>
Input: s = "LVIII"<br>
Output: 58<br>
Explanation: L = 50, V= 5, III = 3.<br>

Example 3:<br>
Input: s = "MCMXCIV"<br>
Output: 1994<br>
Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.<br>

Constraints:<br>
1 <= s.length <= 15<br>
s contains only the characters ('I', 'V', 'X', 'L', 'C', 'D', 'M').<br>
It is guaranteed that s is a valid roman numeral in the range [1, 3999].<br>

Generate Output for following example:

1) MCD
2) MCMXCI
3) CIV

In [8]:
def romanToInt(s):
    roman_vals = {'I': 1, 'V': 5, 'X': 10, 'L': 50,
                  'C': 100, 'D': 500, 'M': 1000}
    result = 0

    for i in range(len(s)):
        if i + 1 < len(s) and roman_vals[s[i]] < roman_vals[s[i + 1]]:
            result -= roman_vals[s[i]]
        else:
            result += roman_vals[s[i]]

    return result

print(romanToInt("MCD"))
print(romanToInt("MCMXCI"))
print(romanToInt("CIV"))

1400
1991
104

#### 9. Make code error free

In [9]:
class Area_Calc:
    def area_form(self, length_cube, breath_cube, height_cube):
        return length_cube * breath_cube * height_cube

class Volume_Define:
    def make_function_valid(self, length_cube, breath_cube, height_cube):
        area_calc = Area_Calc()
        area = area_calc.area_form(length_cube, breath_cube, height_cube)
        print("Area:", area)

l_c = 1
b_c = 2
h_c = 3

volume_def = Volume_Define()
volume_def.make_function_valid(l_c, b_c, h_c)

Area: 6

#### 10. Data Extraction


Using python extract the data from api and transform it to the dataframe as attached below<br>
api endpoint : "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current_weather=true&hourly=temperature_2m,relativehumidity_2m,windspeed_10m"<br>
![Alt text](image.png)

In [10]:
import pandas as pd
import requests
api_endpoint = "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current_weather=true&hourly=temperature_2m,relativehumidity_2m,windspeed_10m"

try:
    response = requests.get(api_endpoint)
    if response.status_code == 200:
        df = pd.DataFrame(response.json()['hourly'])
        df = df[['time', 'temperature_2m', 'relativehumidity_2m', 'windspeed_10m']]
        df.columns = ['Timestamp', 'Temperature (°C)', 'Relative Humidity (%)', 'Wind Speed (m/s)']
        print(df)

    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")

except requests.exceptions.RequestException as e:
    print(f"Error fetching data: {e}")

            Timestamp  Temperature (°C)  Relative Humidity (%)  \
0    2024-07-18T00:00              16.4                     85
1    2024-07-18T01:00              15.9                     88
2    2024-07-18T02:00              15.2                     91
3    2024-07-18T03:00              14.7                     93
4    2024-07-18T04:00              14.5                     93
..                ...               ...                    ...
163  2024-07-24T19:00              18.9                     52
164  2024-07-24T20:00              17.7                     58
165  2024-07-24T21:00              16.6                     64
166  2024-07-24T22:00              15.8                     68
167  2024-07-24T23:00              15.2                     71

     Wind Speed (m/s)
0                 7.1
1                 6.0
2                 4.5
3                 4.8
4                 5.5
..                ...
163               9.0
164               5.9
165               3.9
166               3.6
167               3.7

[168 rows x 4 columns]

#### 11. Data Wrangling

Your target format is in "Base" sheet of the excel.<br>
Use other sheets in the excel to create a dataframe with the same structure as "Base"<br>
Start with buying_price sheet <br>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fmarico-interview.s3.ap-south-1.amazonaws.com%2FBase%2Bdata.xlsx&wdOrigin=BROWSELINK">Click here to view file</a>

In [13]:
!pip install openpyxl

import ssl
import pandas as pd

# Disable SSL certificate verification
ssl._create_default_https_context = ssl._create_unverified_context

# Read Excel file
df = pd.read_excel('https://marico-interview.s3.ap-south-1.amazonaws.com/Base+data.xlsx')

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 416.4 kB/s eta 0:00:00a 0:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

In [14]:
df.head()

,date,total_supply,total_demand,buying_price,rainfall_over_all,coimbatore_rainfall,thanjavur_rainfall,theni_rainfall,dindigul_rainfall,erode_rainfall,...,odr malapuram_np,hunsur_np,tumkur_np,mandya_np,east godavari_np,konaseema_np,inflation,palm_oil,np_overall,arrival
0,2017-04-01,1.634623,1.280625,96.308000,28.465871,17.4,0.2,7.7,24.2,69.0,...,74.818182,93.604839,72.87,116.216667,93.770992,73.240517,0.030,54.958333,1212.621314,17.0
1,2017-05-01,1.825453,1.300036,91.439000,129.035867,92.2,30.5,65.2,83.7,145.5,...,77.818182,92.433846,73.76,117.015217,93.713235,74.942969,0.022,55.423077,1293.357609,25.0
2,2017-06-01,1.204588,1.398301,89.730000,322.842314,68.3,70.7,50.8,37.6,22.0,...,77.363636,91.638710,71.46,111.763492,93.235294,71.360909,0.015,54.538462,1271.508054,29.0
3,2017-07-01,1.253024,1.557194,95.895238,280.563050,54.1,24.7,19.7,4.6,10.6,...,79.545455,92.269355,71.46,105.554386,84.588235,73.944776,0.024,53.000000,1213.754136,21.0
4,2017-08-01,1.610456,1.535237,102.890000,316.458723,124.0,237.7,83.7,149.6,91.1,...,83.272727,92.520968,72.08,112.713333,92.679389,79.144776,0.033,54.100000,1229.081199,29.0

#### 11 a. Treat NAs

In [15]:
df_filled = df.fillna(df.mean())
print(df_filled.head())

        date  total_supply  total_demand  buying_price  rainfall_over_all  \
0 2017-04-01      1.634623      1.280625     96.308000          28.465871
1 2017-05-01      1.825453      1.300036     91.439000         129.035867
2 2017-06-01      1.204588      1.398301     89.730000         322.842314
3 2017-07-01      1.253024      1.557194     95.895238         280.563050
4 2017-08-01      1.610456      1.535237    102.890000         316.458723

   coimbatore_rainfall  thanjavur_rainfall  theni_rainfall  dindigul_rainfall  \
0                 17.4                 0.2             7.7               24.2
1                 92.2                30.5            65.2               83.7
2                 68.3                70.7            50.8               37.6
3                 54.1                24.7            19.7                4.6
4                124.0               237.7            83.7              149.6

   erode_rainfall  ...  odr malapuram_np  hunsur_np  tumkur_np   mandya_np  \
0            69.0  ...         74.818182  93.604839      72.87  116.216667
1           145.5  ...         77.818182  92.433846      73.76  117.015217
2            22.0  ...         77.363636  91.638710      71.46  111.763492
3            10.6  ...         79.545455  92.269355      71.46  105.554386
4            91.1  ...         83.272727  92.520968      72.08  112.713333

   east godavari_np  konaseema_np  inflation   palm_oil   np_overall  arrival
0         93.770992     73.240517      0.030  54.958333  1212.621314     17.0
1         93.713235     74.942969      0.022  55.423077  1293.357609     25.0
2         93.235294     71.360909      0.015  54.538462  1271.508054     29.0
3         84.588235     73.944776      0.024  53.000000  1213.754136     21.0
4         92.679389     79.144776      0.033  54.100000  1229.081199     29.0

[5 rows x 44 columns]

#### 11 b. Get average and Sum of all the Columns using group by

In [16]:
grouped = df.groupby('date').agg(['mean', 'sum'])
print(grouped)

           total_supply           total_demand           buying_price  \
                   mean       sum         mean       sum         mean
date
2017-04-01     1.634623  1.634623     1.280625  1.280625    96.308000
2017-05-01     1.825453  1.825453     1.300036  1.300036    91.439000
2017-06-01     1.204588  1.204588     1.398301  1.398301    89.730000
2017-07-01     1.253024  1.253024     1.557194  1.557194    95.895238
2017-08-01     1.610456  1.610456     1.535237  1.535237   102.890000
...                 ...       ...          ...       ...          ...
2022-11-01     1.220000  1.220000     1.276190  1.276190          NaN
2022-12-01     1.160000  1.160000     1.247080  1.247080          NaN
2023-01-01     1.160000  1.160000     1.255903  1.255903          NaN
2023-02-01     1.365418  1.365418     1.271814  1.271814          NaN
2023-03-01     1.817105  1.817105     1.360471  1.360471          NaN

                       rainfall_over_all             coimbatore_rainfall  \
                   sum              mean         sum                mean
date
2017-04-01   96.308000         28.465871   28.465871                17.4
2017-05-01   91.439000        129.035867  129.035867                92.2
2017-06-01   89.730000        322.842314  322.842314                68.3
2017-07-01   95.895238        280.563050  280.563050                54.1
2017-08-01  102.890000        316.458723  316.458723               124.0
...                ...               ...         ...                 ...
2022-11-01    0.000000               NaN    0.000000                 NaN
2022-12-01    0.000000               NaN    0.000000                 NaN
2023-01-01    0.000000               NaN    0.000000                 NaN
2023-02-01    0.000000               NaN    0.000000                 NaN
2023-03-01    0.000000               NaN    0.000000                 NaN

                   ... konaseema_np            inflation          palm_oil  \
              sum  ...         mean        sum      mean    sum       mean
date               ...
2017-04-01   17.4  ...    73.240517  73.240517     0.030  0.030  54.958333
2017-05-01   92.2  ...    74.942969  74.942969     0.022  0.022  55.423077
2017-06-01   68.3  ...    71.360909  71.360909     0.015  0.015  54.538462
2017-07-01   54.1  ...    73.944776  73.944776     0.024  0.024  53.000000
2017-08-01  124.0  ...    79.144776  79.144776     0.033  0.033  54.100000
...           ...  ...          ...        ...       ...    ...        ...
2022-11-01    0.0  ...          NaN   0.000000       NaN  0.000        NaN
2022-12-01    0.0  ...          NaN   0.000000       NaN  0.000        NaN
2023-01-01    0.0  ...          NaN   0.000000       NaN  0.000        NaN
2023-02-01    0.0  ...          NaN   0.000000       NaN  0.000        NaN
2023-03-01    0.0  ...          NaN   0.000000       NaN  0.000        NaN

                        np_overall              arrival
                  sum         mean          sum    mean   sum
date
2017-04-01  54.958333  1212.621314  1212.621314    17.0  17.0
2017-05-01  55.423077  1293.357609  1293.357609    25.0  25.0
2017-06-01  54.538462  1271.508054  1271.508054    29.0  29.0
2017-07-01  53.000000  1213.754136  1213.754136    21.0  21.0
2017-08-01  54.100000  1229.081199  1229.081199    29.0  29.0
...               ...          ...          ...     ...   ...
2022-11-01   0.000000          NaN     0.000000     NaN   0.0
2022-12-01   0.000000          NaN     0.000000     NaN   0.0
2023-01-01   0.000000          NaN     0.000000     NaN   0.0
2023-02-01   0.000000          NaN     0.000000     NaN   0.0
2023-03-01   0.000000          NaN     0.000000     NaN   0.0

[72 rows x 86 columns]

#### 11 c. Treat Outliers beyond 5th percentile and 95th percentile using winsorization

In [17]:
from scipy.stats.mstats import winsorize

columns_to_winsorize = df.columns.difference(['date'])
df_winsorized = df.copy()
df_winsorized[columns_to_winsorize] = df_winsorized[columns_to_winsorize].apply(lambda x: winsorize(x, limits=[0.05, 0.05]))

print(df_winsorized.head())

        date  total_supply  total_demand  buying_price  rainfall_over_all  \
0 2017-04-01      1.634623      1.280625     96.308000          28.465871
1 2017-05-01      1.818398      1.300036     91.439000         129.035867
2 2017-06-01      1.204588      1.398301     91.439000         322.842314
3 2017-07-01      1.253024      1.557194     95.895238         280.563050
4 2017-08-01      1.610456      1.535237    102.890000         316.458723

   coimbatore_rainfall  thanjavur_rainfall  theni_rainfall  dindigul_rainfall  \
0                 17.4                 0.2             7.7               24.2
1                 92.2                30.5            65.2               83.7
2                 68.3                70.7            50.8               37.6
3                 54.1                24.7            19.7                4.6
4                124.0               237.7            83.7              149.6

   erode_rainfall  ...  odr malapuram_np  hunsur_np  tumkur_np   mandya_np  \
0            69.0  ...         74.818182  93.604839  72.870000  116.216667
1           145.5  ...         77.818182  92.433846  73.760000  117.015217
2            22.0  ...         77.363636  91.638710  72.278873  111.763492
3            10.6  ...         79.545455  92.269355  72.278873  105.554386
4            91.1  ...         83.272727  92.520968  72.278873  112.713333

   east godavari_np  konaseema_np  inflation   palm_oil   np_overall  arrival
0         93.770992     73.240517      0.030  54.958333  1212.621314     17.0
1         93.713235     74.942969      0.022  55.423077  1293.357609     25.0
2         93.235294     71.360909      0.022  54.958333  1271.508054     29.0
3         84.588235     73.944776      0.024  54.958333  1213.754136     21.0
4         92.679389     79.144776      0.033  54.958333  1229.081199     29.0

[5 rows x 44 columns]

#### 11 d. Create correlation matrix for the prepared data<br>What preliminary conclusions can be derived from this matrix?

In [18]:
correlation_matrix = df.corr()
print(correlation_matrix)

                            date  total_supply  total_demand  buying_price  \
date                    1.000000      0.072160      0.169228     -0.210919
total_supply            0.072160      1.000000      0.420681     -0.304931
total_demand            0.169228      0.420681      1.000000     -0.323293
buying_price           -0.210919     -0.304931     -0.323293      1.000000
rainfall_over_all       0.018738      0.070565      0.161873     -0.281738
coimbatore_rainfall     0.211343      0.056729      0.183880     -0.153763
thanjavur_rainfall      0.153676     -0.288421      0.101736     -0.019648
theni_rainfall          0.079744     -0.001661      0.131030      0.021824
dindigul_rainfall       0.139335     -0.057607      0.168019     -0.028433
erode_rainfall          0.064138      0.100321      0.241793     -0.137820
tiruppur_rainfall       0.052029     -0.096875      0.086138      0.032754
kanyakumari_rainfall    0.139630     -0.088938     -0.027174     -0.042428
calicut_rainfall       -0.015627      0.096224      0.126525     -0.268939
kasargod_rainfall       0.007186      0.044080      0.105186     -0.301568
thrissur_rainfall       0.029283      0.100337      0.210026     -0.293591
malapuram_rainfall     -0.081820      0.101700      0.172667     -0.210125
kannur_rainfall        -0.014803      0.081427      0.113977     -0.285331
tumkur_rainfall         0.205654      0.138668      0.235810     -0.222829
hassan_rainfall         0.138107      0.274457      0.300201     -0.266232
mysore_rainfall         0.047326      0.265619      0.331999     -0.280961
mandya_rainfall         0.134625      0.260198      0.320386     -0.234913
srikakulam_rainfall    -0.052455      0.016762      0.292649     -0.232388
chitradurga_rainfall    0.202628      0.092952      0.202146     -0.187868
east godavari_rainfall  0.011817      0.009738      0.214915     -0.219906
pollachi_np             0.715520      0.199996      0.269042     -0.589157
pollachi north_np       0.838657      0.196558      0.280584     -0.558069
tanjore_np             -0.730391      0.004891     -0.019795      0.291383
theni_np               -0.847966     -0.014166     -0.273686      0.276396
dindigul_np             0.565169      0.322248      0.464246     -0.435363
erode_np                0.594681      0.096269      0.100836     -0.427616
odr calicut_np          0.011272     -0.005907     -0.217734      0.347804
odr kasargod_np        -0.139308      0.084529      0.162044      0.349495
odr thrissur_np         0.305606      0.024434      0.166917      0.104399
odr kannur_np           0.281900      0.147463      0.116815      0.202244
odr malapuram_np       -0.017469     -0.064945      0.078077     -0.072802
hunsur_np              -0.318759      0.097173      0.271535     -0.185548
tumkur_np               0.702249     -0.071345      0.214135     -0.177128
mandya_np              -0.792163     -0.053741      0.027381      0.005395
east godavari_np       -0.535015      0.036190     -0.058628      0.063146
konaseema_np           -0.262827      0.032748     -0.008559      0.051744
inflation               0.646523     -0.048896     -0.039628      0.042628
palm_oil                0.899797      0.157042      0.261336     -0.091496
np_overall             -0.363148      0.122630      0.121652      0.061650
arrival                 0.486102      0.532398      0.296186     -0.326826

                        rainfall_over_all  coimbatore_rainfall  \
date                             0.018738             0.211343
total_supply                     0.070565             0.056729
total_demand                     0.161873             0.183880
buying_price                    -0.281738            -0.153763
rainfall_over_all                1.000000             0.828778
coimbatore_rainfall              0.828778             1.000000
thanjavur_rainfall               0.221138             0.367901
theni_rainfall                   0.531186             0.743589
dindigul_rainfall                0.305976             0.525237
erode_rainfall                   0.341346             0.554737
tiruppur_rainfall                0.232718             0.491836
kanyakumari_rainfall             0.453086             0.560920
calicut_rainfall                 0.958308             0.735456
kasargod_rainfall                0.926964             0.670921
thrissur_rainfall                0.954574             0.805472
malapuram_rainfall               0.945354             0.760764
kannur_rainfall                  0.958090             0.710566
tumkur_rainfall                  0.573684             0.650949
hassan_rainfall                  0.793437             0.834118
mysore_rainfall                  0.650512             0.746208
mandya_rainfall                  0.476155             0.613701
srikakulam_rainfall              0.654318             0.571274
chitradurga_rainfall             0.648330             0.728433
east godavari_rainfall           0.782416             0.639454
pollachi_np                     -0.010935             0.092158
pollachi north_np                0.067051             0.156523
tanjore_np                       0.033302            -0.039217
theni_np                        -0.153850            -0.321550
dindigul_np                     -0.072653             0.009675
erode_np                         0.073899             0.093919
odr calicut_np                   0.100698             0.111491
odr kasargod_np                 -0.016098             0.029188
odr thrissur_np                 -0.217009            -0.015651
odr kannur_np                   -0.202272             0.012847
odr malapuram_np                 0.019283             0.065495
hunsur_np                       -0.124747            -0.071816
tumkur_np                       -0.198420            -0.018493
mandya_np                       -0.127197            -0.228827
east godavari_np                -0.047689            -0.124604
konaseema_np                     0.007130             0.032966
inflation                       -0.017092             0.109341
palm_oil                        -0.045211             0.161103
np_overall                      -0.084915            -0.064052
arrival                          0.247727             0.208198

                        thanjavur_rainfall  theni_rainfall  dindigul_rainfall  \
date                              0.153676        0.079744           0.139335
total_supply                     -0.288421       -0.001661          -0.057607
total_demand                      0.101736        0.131030           0.168019
buying_price                     -0.019648        0.021824          -0.028433
rainfall_over_all                 0.221138        0.531186           0.305976
coimbatore_rainfall               0.367901        0.743589           0.525237
thanjavur_rainfall                1.000000        0.576464           0.784764
theni_rainfall                    0.576464        1.000000           0.802401
dindigul_rainfall                 0.784764        0.802401           1.000000
erode_rainfall                    0.491790        0.691459           0.823076
tiruppur_rainfall                 0.650525        0.806407           0.890861
kanyakumari_rainfall              0.541938        0.769001           0.588461
calicut_rainfall                  0.085099        0.412901           0.157179
kasargod_rainfall                 0.159653        0.360411           0.174420
thrissur_rainfall                 0.170835        0.510146           0.225538
malapuram_rainfall                0.128518        0.499189           0.195130
kannur_rainfall                   0.097699        0.378110           0.148055
tumkur_rainfall                   0.377850        0.614836           0.683001
hassan_rainfall                   0.208545        0.620860           0.400406
mysore_rainfall                   0.306916        0.652826           0.508840
mandya_rainfall                   0.359397        0.639049           0.674159
srikakulam_rainfall               0.248836        0.326845           0.289666
chitradurga_rainfall              0.347128        0.655625           0.624528
east godavari_rainfall            0.140217        0.272850           0.137440
pollachi_np                       0.081359       -0.095273           0.025664
pollachi north_np                 0.066231       -0.043739           0.061153
tanjore_np                       -0.036310        0.159905           0.067043
theni_np                         -0.264074       -0.199719          -0.268943
dindigul_np                       0.075114       -0.047250           0.038906
erode_np                          0.033986       -0.062008          -0.025630
odr calicut_np                   -0.118540        0.141892          -0.053193
odr kasargod_np                  -0.054226        0.123959          -0.034680
odr thrissur_np                   0.039405        0.174951           0.121639
odr kannur_np                     0.013430        0.035115           0.000588
odr malapuram_np                  0.079066        0.141974           0.086642
hunsur_np                         0.084645        0.188760           0.156594
tumkur_np                         0.128538       -0.024385           0.047378
mandya_np                        -0.023408       -0.032158          -0.041263
east godavari_np                 -0.086543        0.034891          -0.095596
konaseema_np                      0.041125        0.113736           0.003732
inflation                        -0.033210        0.070644           0.048881
palm_oil                          0.106841        0.096314           0.143326
np_overall                       -0.045706        0.119547          -0.013624
arrival                          -0.233709        0.028573          -0.108018

                        erode_rainfall  ...  odr malapuram_np  hunsur_np  \
date                          0.064138  ...         -0.017469  -0.318759
total_supply                  0.100321  ...         -0.064945   0.097173
total_demand                  0.241793  ...          0.078077   0.271535
buying_price                 -0.137820  ...         -0.072802  -0.185548
rainfall_over_all             0.341346  ...          0.019283  -0.124747
coimbatore_rainfall           0.554737  ...          0.065495  -0.071816
thanjavur_rainfall            0.491790  ...          0.079066   0.084645
theni_rainfall                0.691459  ...          0.141974   0.188760
dindigul_rainfall             0.823076  ...          0.086642   0.156594
erode_rainfall                1.000000  ...          0.170429   0.248868
tiruppur_rainfall             0.803609  ...          0.098683   0.180511
kanyakumari_rainfall          0.534828  ...          0.133808   0.057629
calicut_rainfall              0.207337  ...         -0.018493  -0.149057
kasargod_rainfall             0.169131  ...         -0.054232  -0.187601
thrissur_rainfall             0.282263  ...          0.020801  -0.084595
malapuram_rainfall            0.254868  ...          0.061081  -0.012601
kannur_rainfall               0.177884  ...         -0.011007  -0.163646
tumkur_rainfall               0.733186  ...          0.101948  -0.029880
hassan_rainfall               0.530210  ...          0.066704  -0.066298
mysore_rainfall               0.658982  ...          0.136201   0.092538
mandya_rainfall               0.850568  ...          0.143785   0.056709
srikakulam_rainfall           0.399596  ...          0.138830   0.099693
chitradurga_rainfall          0.666822  ...          0.042103  -0.078734
east godavari_rainfall        0.174733  ...          0.084291  -0.061416
pollachi_np                   0.066235  ...         -0.121728  -0.185425
pollachi north_np             0.052748  ...         -0.194881  -0.282604
tanjore_np                    0.122956  ...          0.317994   0.471343
theni_np                     -0.206517  ...         -0.082090   0.140961
dindigul_np                   0.098275  ...          0.123513   0.121988
erode_np                     -0.031311  ...         -0.267175  -0.240449
odr calicut_np               -0.040667  ...          0.493680   0.085976
odr kasargod_np               0.026597  ...          0.586970   0.327544
odr thrissur_np               0.103252  ...          0.583466   0.378642
odr kannur_np                -0.000561  ...          0.443308   0.334578
odr malapuram_np              0.170429  ...          1.000000   0.439065
hunsur_np                     0.248868  ...          0.439065   1.000000
tumkur_np                     0.026871  ...          0.030167   0.054161
mandya_np                     0.007290  ...          0.135936   0.572382
east godavari_np             -0.001131  ...          0.324329   0.655027
konaseema_np                  0.064162  ...          0.133292   0.522837
inflation                    -0.039254  ...          0.036303  -0.478638
palm_oil                      0.095126  ...          0.099066  -0.170896
np_overall                    0.097696  ...          0.625046   0.763848
arrival                       0.101113  ...          0.197055   0.113354

                        tumkur_np  mandya_np  east godavari_np  konaseema_np  \
date                     0.702249  -0.792163         -0.535015     -0.262827
total_supply            -0.071345  -0.053741          0.036190      0.032748
total_demand             0.214135   0.027381         -0.058628     -0.008559
buying_price            -0.177128   0.005395          0.063146      0.051744
rainfall_over_all       -0.198420  -0.127197         -0.047689      0.007130
coimbatore_rainfall     -0.018493  -0.228827         -0.124604      0.032966
thanjavur_rainfall       0.128538  -0.023408         -0.086543      0.041125
theni_rainfall          -0.024385  -0.032158          0.034891      0.113736
dindigul_rainfall        0.047378  -0.041263         -0.095596      0.003732
erode_rainfall           0.026871   0.007290         -0.001131      0.064162
tiruppur_rainfall        0.018013   0.033068         -0.051199      0.013408
kanyakumari_rainfall     0.025060  -0.120603         -0.044623      0.064809
calicut_rainfall        -0.237154  -0.127943         -0.015377      0.008986
kasargod_rainfall       -0.186686  -0.155629         -0.076042     -0.029033
thrissur_rainfall       -0.140617  -0.147832         -0.027809      0.041692
malapuram_rainfall      -0.214927  -0.043560          0.087149      0.095436
kannur_rainfall         -0.238767  -0.132644         -0.017990      0.003803
tumkur_rainfall         -0.021968  -0.177228         -0.197993     -0.080181
hassan_rainfall         -0.061458  -0.182579         -0.093752      0.009944
mysore_rainfall         -0.086518  -0.028669         -0.031853      0.037507
mandya_rainfall         -0.038522  -0.108107         -0.159739     -0.086590
srikakulam_rainfall     -0.177635  -0.004623          0.056981      0.109878
chitradurga_rainfall    -0.036692  -0.209807         -0.209819     -0.077129
east godavari_rainfall  -0.196757  -0.105466          0.012290      0.063797
pollachi_np              0.451092  -0.483885         -0.573808     -0.401637
pollachi north_np        0.552746  -0.625041         -0.643757     -0.426153
tanjore_np              -0.668036   0.493179          0.397673      0.053152
theni_np                -0.564269   0.629982          0.529581      0.323565
dindigul_np              0.465488  -0.333038         -0.302567     -0.194912
erode_np                 0.521263  -0.376974         -0.213045      0.065906
odr calicut_np          -0.052185   0.008904          0.451562      0.418859
odr kasargod_np         -0.081310   0.095290          0.345527      0.220916
odr thrissur_np          0.454317  -0.064342          0.335247      0.320547
odr kannur_np            0.330395  -0.080722          0.314303      0.374715
odr malapuram_np         0.030167   0.135936          0.324329      0.133292
hunsur_np                0.054161   0.572382          0.655027      0.522837
tumkur_np                1.000000  -0.351473         -0.094461      0.179186
mandya_np               -0.351473   1.000000          0.713931      0.519390
east godavari_np        -0.094461   0.713931          1.000000      0.876781
konaseema_np             0.179186   0.519390          0.876781      1.000000
inflation                0.305549  -0.730013         -0.707309     -0.659572
palm_oil                 0.601591  -0.759701         -0.506537     -0.323527
np_overall              -0.041207   0.549364          0.847291      0.689323
arrival                  0.395301  -0.314547          0.198012      0.313816

                        inflation  palm_oil  np_overall   arrival
date                     0.646523  0.899797   -0.363148  0.486102
total_supply            -0.048896  0.157042    0.122630  0.532398
total_demand            -0.039628  0.261336    0.121652  0.296186
buying_price             0.042628 -0.091496    0.061650 -0.326826
rainfall_over_all       -0.017092 -0.045211   -0.084915  0.247727
coimbatore_rainfall      0.109341  0.161103   -0.064052  0.208198
thanjavur_rainfall      -0.033210  0.106841   -0.045706 -0.233709
theni_rainfall           0.070644  0.096314    0.119547  0.028573
dindigul_rainfall        0.048881  0.143326   -0.013624 -0.108018
erode_rainfall          -0.039254  0.095126    0.097696  0.101113
tiruppur_rainfall        0.061481  0.064699    0.014258 -0.143145
kanyakumari_rainfall     0.072144  0.156897    0.043925  0.087246
calicut_rainfall        -0.045407 -0.066906   -0.062543  0.292964
kasargod_rainfall       -0.011418 -0.080926   -0.151010  0.233311
thrissur_rainfall       -0.040683 -0.003696   -0.026695  0.302677
malapuram_rainfall      -0.101241 -0.107333    0.051219  0.269164
kannur_rainfall         -0.034105 -0.080881   -0.084706  0.278984
tumkur_rainfall          0.111203  0.180285   -0.121445  0.154676
hassan_rainfall          0.066523  0.093647   -0.047057  0.312366
mysore_rainfall         -0.053554  0.031705    0.034232  0.175232
mandya_rainfall          0.062134  0.139707   -0.052259  0.171759
srikakulam_rainfall     -0.117759 -0.108645    0.019613  0.174839
chitradurga_rainfall     0.163299  0.158113   -0.165720  0.132945
east godavari_rainfall  -0.026690 -0.065935   -0.038504  0.187194
pollachi_np              0.353731  0.655320   -0.414507  0.232769
pollachi north_np        0.537574  0.725843   -0.512784  0.294646
tanjore_np              -0.327779 -0.447536    0.538292 -0.280579
theni_np                -0.524726 -0.858374    0.282210 -0.378334
dindigul_np              0.166167  0.705068   -0.005437  0.382204
erode_np                 0.129140  0.382406   -0.246624  0.368473
odr calicut_np          -0.051285  0.044425    0.542030  0.348818
odr kasargod_np         -0.133846  0.128309    0.653585  0.233349
odr thrissur_np          0.166053  0.397297    0.577685  0.341824
odr kannur_np           -0.081804  0.469106    0.591680  0.471664
odr malapuram_np         0.036303  0.099066    0.625046  0.197055
hunsur_np               -0.478638 -0.170896    0.763848  0.113354
tumkur_np                0.305549  0.601591   -0.041207  0.395301
mandya_np               -0.730013 -0.759701    0.549364 -0.314547
east godavari_np        -0.707309 -0.506537    0.847291  0.198012
konaseema_np            -0.659572 -0.323527    0.689323  0.313816
inflation                1.000000  0.618127   -0.519780  0.024629
palm_oil                 0.618127  1.000000   -0.185058  0.454509
np_overall              -0.519780 -0.185058    1.000000  0.270409
arrival                  0.024629  0.454509    0.270409  1.000000

[44 rows x 44 columns]